<%= form_for(@prescription_item) do |f| %>
  <% if @prescription_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription_item.errors.count, "error") %> prohibited this prescription_item from being saved:</h2>

      <ul>
      <% @prescription_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drug_name %><br>
    <%= f.text_field :drug_name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :drug_form %><br>
    <%= f.text_field :drug_form %>
  </div>
  <div class="field">
    <%= f.label :prescription_id %><br>
    <%= f.text_field :prescription_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
