<%= image_tag "ghs.jpg", :class => "text_center logo_image" %>
<h2 class="text_center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="text_center">
  <%= devise_error_messages! %>

  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :email, :class => "mdl-textfield__label" %><br />
    <%= f.email_field :email, autofocus: true, :class => "mdl-textfield__input" %>
  </div>

  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :password, :class => "mdl-textfield__label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "mdl-textfield__input" %>
  </div>

  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :password_confirmation, :class => "mdl-textfield__label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "mdl-textfield__input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>
