<div class="text_center">
<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :folder_number, :class => "mdl-textfield__label" %><br>
    <%= f.text_field :folder_number, :class => "mdl-textfield__input" %>
  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :first_name, :class => "mdl-textfield__label" %><br>
    <%= f.text_field :first_name, :class => "mdl-textfield__input" %>
  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :last_name, :class => "mdl-textfield__label" %><br>
    <%= f.text_field :last_name, :class => "mdl-textfield__input" %>
  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :date_of_birth, :class => "mdl-textfield__label" %><br>
    <%= f.date_select :date_of_birth, :class => "mdl-textfield__input" %>

  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :gender, :class => "mdl-textfield__label" %><br>
    <%= f.select :gender, options_for_select([["MALE", "MALE"], ["FEMALE", "FEMALE"]]), :class => "mdl-textfield__input" %>
  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :address, :class => "mdl-textfield__label" %><br>
    <%= f.text_area :address, :class => "mdl-textfield__input" %>
  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :doctors_name, :class => "mdl-textfield__label" %><br>
    <%= f.text_field :doctors_name, :class => "mdl-textfield__input" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  %>
  </div>
<% end %>
</div>
