<%= image_tag "ghs.jpg", :class => "text_center logo_image" %>
<h4 class="text_center" >Log in</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|  %>
<div class="text_center">
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :email, :class => "mdl-textfield__label" %>
    <%= f.email_field :email, autofocus: true, :class => "mdl-textfield__input" %>
  </div>
  <br />

  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label text_center">
    <%= f.label :password, :class => "mdl-textfield__label" %>
    <%= f.password_field :password, autocomplete: "off", :class => "mdl-textfield__input" %>
  </div>
  <br />
    <br />
  <% if devise_mapping.rememberable? -%>
    <label class="hide mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
      <%= f.check_box :remember_me, :class => "mdl-checkbox__input" %>
      <span class="mdl-checkbox__label">Remember Me </span>
    </label>
  <% end -%>
  <br />
  <br />
  <div class="actions">
    <%= f.submit "Log in", :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
</div>
<% end %>
<div class="text_center">
  <br />
  <br />
<%= render "devise/shared/links" %>

</div>
