<%= form_for(@patient_visit) do |f| %>
  <% if @patient_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_visit.errors.count, "error") %> prohibited this patient_visit from being saved:</h2>

      <ul>
      <% @patient_visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hide">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id, value: @patient.id %>
  </div>
  <div class="field hide">
    <%= f.label :visit_date %><br>
    <%= f.datetime_select :visit_date, value: Time.now   %>
  </div>



<div style="margin-top: 50px; padding: 10px 20%;" class="text_center">
  PLEASE SELECT <br />
  <br />
  <%= f.submit "RETRIEVE INFORMATION FROM CDSS", name: 'create_and_question' , class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  <br />
  <br />
  <%= f.submit "ENTER CLINICAL DIAGNOSIS", name: 'create_and_diagnose' ,class:  "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  <br />
  <br />
  <%= f.submit  "SHOW PATIENT PRESCRIPTION ", name: 'create_and_prescribe', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
</div>
<% end %>
